.section-fox {
    background-color: khaki;
    border: 5px solid red;
    width: 500px;
    height: 650px;
    margin-left: 150px;
    margin-top: 120px;
    padding-left: 20px;
  }
  
  .img {
    border-width: 3px;
    border-style: solid;
    border-color: red;
    width: 310px;
    height: 200px;
  }
  .p{
    border: 5px dashed orangered;
    width: 300px;
    height: 290px;
    background-color: yellow;
    overflow: auto;
    padding-left: 7px;
  
  
  }